nav, .desktop_menu {
    background: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(99, 230, 241);
}

.desktop_menu {
    float: left;
    margin-right: 15px;
}
.desktop_menu:after {
    clear: both;
    content: "";
    display: table;
}

.desktop_menu li {
    display: inline-block;
}

.mobile_menu {
    border-top: 1px dashed white;
}

.mobile_menu-item {
    display: block;
}

.mobile_menu__container {
    overflow: hidden;
    background-color: #000
}
.mobile_menu__button {
    display: block;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    line-height: 50px;
    color: white;
    font-weight: bold;
}







article {
    clear: both;
}