a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(99, 230, 241);
}

nav {
    background: black;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li ul {
    display: inline;
}

nav ul li ul li {
    display: none;
}

.desktop_menu li {
    display: none;
}

.desktop_menu li.visible {
    display: inline;
}

.slicknav_menu {
    display: none;
}

.slicknav_menu.visible {
    display: block;
}

.slicknav_icon-bar {
    background-color: white;
    display: block;
    width: 1.125em;
    height: 3px;
    margin: 3px 0;
    margin-left: auto;
}

.slicknav_nav li {
    display: none;
}

.slicknav_nav li.visible {
    display: block;
}